body {
    margin: 0;

    font-family: Roboto;
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;

    cursor: pointer;
}

#cadre {
    position: relative;

    display: flex;
    justify-content: center;

    margin: 15px auto;

    width: 90vw;
    height: 90vw;

    overflow: hidden;

    border: 2px black solid;

    background: rgb(122, 217, 255);
}

.cadre2 {
    background: rgb(29, 172, 29) !important;
}

#chiffre {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 200px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    opacity: 0.2;
}

#but {
    display: flex;
    justify-content: space-between;

    width: 25%;
}

.poteau {
    width: 5%;
    height: 5%;

    background: black;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ELEMENTS DU JEU */

#fleche {
    position: absolute;

    transform-origin: center bottom;

    bottom: 5%;
    left: 50%;

    transform: translateX(-50%);

    opacity: 0.3;

    animation: rotationFleche 1s linear infinite alternate;
}

#divPalet {
    position: absolute;

    height: 100%;
    width: 8%;

    transform-origin: 50% 94%;

    animation: rotation 1s linear infinite alternate;
}

@keyframes rotationFleche {
    0% {
        transform: translateX(-50%) rotate(-45deg)
    }

    100% {
        transform: translateX(-50%) rotate(45deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-45deg)
    }

    100% {
        transform: rotate(45deg);
    }
}

#palet {
    position: absolute;

    bottom: 2%;

    width: 100%;
    height: 8%;
    border-radius: 100%;

    background: black;

}

.paletTire {
    transform: translateY(-1400%);
    transition: 0.4s linear;
}

#FP1 {
    position: absolute;

    bottom: 2%;

    width: 100%;
    height: 8%;
    border-radius: 100%;

    background: black;
    
    transform: scale(0);
}

.FP2 {
    transform: scale(1) !important;
    
    transition: 0.1s linear;
}


#tirer {
    cursor: pointer;

    display: block;

    width: 80px;
    height: 40px;

    font-weight: bold;

    background: white;
    border: 2px black solid;

    margin: 0 auto;
}

.best {
    position: absolute;
    left: 3px;
    bottom: 0;
}